body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    text-align: center;
}
.container h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}
.container button[type= "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}
.container button[type= "submit"]:hover {
    background: #99ff99;
}